<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <title>{% block title %}Disney Characters{% endblock %}</title>
    {% block stylesheets %}
      {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
      {{ encore_entry_script_tags('app') }}
    {% endblock %}
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-blue bg-blue">
        <a class="navbar-brand" href="#"
          ><img height="50px" src="https://assets.stickpng.com/images/58428d79a6515b1e0ad75ab2.png"
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active" href="#"
              >Inicio <span class="sr-only">(current)</span></a
            >
            <a class="nav-link" href="{{ path('charactersList') }}">Lista de personajes</a>
            <a class="nav-link" href="{{ path('insertCharacter') }}">Crear nuevo personaje</a>            
          </div>
        </div>
      </nav>
     
      {% block contenido %} {% endblock %}
    </div>
  </body>
</html>
