{% extends 'characters/baseDisney.html.twig' %}

{% block contenido %}

{% for mensaje in app.flashes('success') %}
<p>{{ mensaje }}</p>
{% endfor %}

<h2>Listado de personajes Disney</h2>
<div class="row row-cols-1 row-cols-md-2">
  {% for character in characters %}
  <div class="col mb-4">
    <div class="card" style="width: 20rem heigt: 150hg">
      <img src="{{ character.imagen }}" class="card-img-top" width="200" height="260" object-position: "center bottom;"/>
      <div class="card-body">
        <h5 class="card-title">{{ character.nombre }}</h5>
        <p class="card-text">{{ character.tipo }}</p>
        <a href="{{ path('characterDetail',{id:character.id}) }}" class="btn btn-primary">Más Info</a>
        <a href="{{ path('deleteCharacter',{id:character.id}) }}" class="btn btn-primary">Eliminar</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}