{% extends 'characters/baseDisney.html.twig' %}

{% block contenido %}
<div class="container">
        <div class="row">
          <div class="col text-center">
            <h2>{{ character.nombre }}</h2>
          </div>
        </div>
        <div class="row">
          <div class="col"><img src="{{ character.imagen }}" width="400px" height="400px" style="object-fit:cover" /></div>
          <div class="col">
            <div class="row"><div class="col">{{ character.pelicula }}</div></div>
            <div class="col">
            <div class="row"><div class="col">{{ character.tipo }}</div></div>
            <div class="col">
            <div class="row"><div class="col">{{ character.localizacion }}</div></div>
          </div>
        </div>
      </div>
{% endblock %}